.navbar{
    background-color:rgb(202, 196, 196);
    height:22vh;
    padding-top:10px;
    color:white;
    margin-top: 30px;

}
.flex-Container{
    border:solid black;
    border-width:.2px;
    margin-top: 25px;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;


}
.nameBox{
    border:solid black;
   height:150px;
   width:80%;
   margin: left 3px;
   margin-top:30px;
}

.innerBox{
    border:solid grey;
    height:120px;
    width:90%;
    margin-left:4%;
    margin: top 30px;
    font-size: larger;
}
.selfie{
    height: 100px;
    width: 100px;
    padding-right: 55px;

}

.flex-Container .left_container{
    background: white;
    border: solid red;
    width: 50%;
}
.flex-Container .right_container{
    background: white;
    width: 50%;    
    border: solid yellow;
}

.contact{
    border: solid brown;
    height: 33%;
}
.skills{
    border: solid purple;
    height: 33%;

}

.Education{
    border: solid salmon;
    height:33%;

}
.profile{
    border: solid darkcyan;
    height: 200px;
    word-wrap: break-word;
}